<section class="phx-hero">

  <p><%= gettext "%{slogan}", slogan: @payload.slogan %></p>
  <h1><%= gettext "%{name}!", name: @payload.name %></h1>

</section>
<div>
  <%= if Plug.Conn.get_session(@conn, :current_user_id) do %>
   <%= live_render(@conn, SupplyChainWeb.SupplyChainLoginedLive) %>
  <% else %>
   <%= live_render(@conn, SupplyChainWeb.SupplyChainLive) %>
  <% end %>
</div>
</section>
