<center>
    <h1>
        <p>
            <%= gettext "平台链路统计：%{chain_num}", chain_num: @chain_num %>
        </p>
    </h1>
    <h1>
        <p>
             <%= gettext "平台用户统计：%{user_num}", user_num: @user_num %>
        </p>
    </h1>
</center>
